.body {
  font-family: 'Sono', sans-serif;
}

.pricing-container{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  height: 100vh;
  justify-content: center;
    
  
}
.pricing-plan{
  background-color: #f2f2f2;
  flex: 1;
  max-width: 400px;
  padding: 20px;
  height: auto;
  width: auto;
  text-align: center;
  border-radius: 5px;
}
.plan-title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.plan-price{
    margin-bottom: 10px;
    font-size: 48px;
    font-weight: bold;
}
.plan-features{
  list-style: none;
  padding: 0;
  margin: 0;
  
}
.plan-features li{
  margin-bottom: 20px;
}
.plan-button{
  padding: 10px;
  background-color: #ff6600;
  color: #fff;
  border-radius: 5px;
  border: none;
}

/* Hint: What can you do with a media query and flexbox? */
@media (max-width: 1250px) {
.pricing-container{
  flex-direction: column;
  height: 100%;
}
}